{% extends "base.html" %}

{% block title %}Race Results{% endblock %}

{% block head %}
{{ super() }}
<script src="https://cdn.tailwindcss.com"></script>
<style>

    .accordion-content {
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.3s ease-out;
        text-align: center;
    }
    .accordion-content.active {
        max-height: 100%;
    }
    
    .heat-content {
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.3s ease-out;
    }
    .heat-content.active {
        max-height: 100%;
    }
    .center {
        margin-left: auto;
        margin-right: auto;
    }
    .border_new {
        border-width: 4px;
        border-color: #52525228;
    }
    /* Add responsive table container */
    .table-container {
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
    }
    table {
        width: 100%;
    }
    /* Adjust padding and font sizes for a more compressed look */
    th, td {
        padding: 0.5rem 0.25rem;
        font-size: 0.5rem; /* Adjust font size as needed */
    }
    .stat_text_scaling {
        font-size: 1.1rem;
    }
    @media (max-width: 570px) {
            .stat_text_scaling {
                font-size: 0.8rem;
            }
        }

    @media (max-width: 600px) {
        th, td {
        padding: 0.1rem 0.1rem;
        font-size: 0.1rem; /* Adjust font size as needed */
        }
        .px-6 {
            padding-left: 0.5rem !important;
            padding-right: 0.2rem !important;
        }

    }
</style>
{% endblock %}

{% block content %}

<div class="container mx-auto px-4 py-8 max-w-4xl">
    <h1 class="text-3xl font-bold text-gray-800 mb-6 text-center">{{ event_name }}</h1>
    <div id="racesContainer">
        <!-- Race accordions will be dynamically inserted here -->
    </div>
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
<script>
race_data = JSON.parse('{{ table_data | tojson | safe | replace("\\r","") }}');

const keys = Object.keys(race_data);



const event_date_day = JSON.parse('{{ event_date | tojson | safe }}');
number_of_events = keys.length
number_of_drivers = countUniqueDrivers(race_data)

console.log(number_of_events, number_of_drivers, event_date_day.length)

function countUniqueDrivers(raceData) {
    const drivers = new Set();

    Object.entries(raceData).forEach(([raceName, raceData]) => {
        Object.entries(raceData).forEach(([heat, heatData]) => {
            Object.entries(heatData).forEach(([entry, driver]) => {
                if (driver && driver.name) {
                    drivers.add(driver.name);
                }
            });
        });
    });

    return drivers.size;
}

document.addEventListener('DOMContentLoaded', function() {
    const header = document.querySelector('.text-3xl.font-bold.text-gray-800.mb-6.text-center');
    console.log(header)
    if (header) {
        const infoDiv = document.createElement('div');
        infoDiv.className = 'stat_text_scaling text-gray-700 mt-6 flex justify-center items-center';
        infoDiv.innerHTML = `
            <div class="items-center">
                <span class="font-bold mr-2">Klasser:</span>
                <span>${number_of_events}</span>
            </div>
            <div class="mx-6 h-6 w-px bg-gray-300"></div>
            <div class="flex items-center" style="padding: 10px;">
                <span class="font-bold mr-2">Sjåfører:</span>
                <span>${number_of_drivers}</span>
            </div>
            <div class="mx-6 h-6 w-px bg-gray-300"></div>
            <div class="flex items-center">
                <span class="font-bold mr-2">Dato:</span>
                <span>${event_date_day}</span>
            </div >
        `;
        header.appendChild(infoDiv);
    }
});

function convertMilliseconds(ms) {
    const seconds = (ms / 1000).toFixed(3);
    const minutes = Math.floor(seconds / 60);
    
    if (minutes > 0) {
        const remainingSeconds = (seconds % 60).toFixed(3);
        return `${minutes}:${remainingSeconds.padStart(6, '0')}`;
    } else {
        return seconds;
    }
}

function createRaceAccordion(raceName, raceData) {
    const accordionItem = document.createElement('div');
    accordionItem.className = 'mb-4 bg-white rounded-lg shadow-md overflow-hidden border_new';
    
    const header = document.createElement('div');
    header.className = 'bg-gray-100 p-4 cursor-pointer flex justify-between items-center transition-colors duration-300 hover:bg-gray-200';
    header.innerHTML = `
        <span class="font-semibold text-lg center">${raceName}</span>
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path>
        </svg>
    `;
    header.addEventListener('click', () => {
        const content = accordionItem.querySelector('.accordion-content');
        content.classList.toggle('active');
        header.querySelector('svg').classList.toggle('transform');
        header.querySelector('svg').classList.toggle('rotate-180');
    });
    
    const content = document.createElement('div');
    content.className = 'accordion-content active';
    header.style.pointerEvents = 'none';
    
    Object.entries(raceData).forEach(([heat, heatData]) => {
        content.appendChild(createHeatAccordion(heat, heatData));
    });
    
    accordionItem.appendChild(header);
    accordionItem.appendChild(content);
    
    return accordionItem;
}

function createHeatAccordion(heat, heatData) {
    const heatItem = document.createElement('div');
    heatItem.className = 'border-t border-gray-200';
    
    const heatHeader = document.createElement('div');
    heatHeader.className = 'bg-gray-50 p-3 cursor-pointer flex justify-between items-center transition-colors duration-300 hover:bg-gray-100';
    heatHeader.innerHTML = `
        <span class="font-medium center">Heat ${heat}</span>
        <svg class="w-5 h-5 transition-transform duration-300 ease-in-out" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path>
        </svg>
    `;
    heatHeader.addEventListener('click', () => {
        const heatContent = heatItem.querySelector('.heat-content');
        heatContent.classList.toggle('active');
        heatHeader.querySelector('svg').classList.toggle('transform');
        heatHeader.querySelector('svg').classList.toggle('rotate-180');
    });
    
    const heatContent = document.createElement('div');
    heatContent.className = 'heat-content';
    heatContent.appendChild(createHeatTable(heatData));
    
    heatItem.appendChild(heatHeader);
    heatItem.appendChild(heatContent);
    
    return heatItem;
}

function createHeatTable(heatData) {
    const tableContainer = document.createElement('div');
    tableContainer.className = 'table-container'; // Add this line

    const table = document.createElement('table');
    table.className = 'min-w-full divide-y divide-gray-200 ';
    
    const thead = document.createElement('thead');
    thead.className = 'bg-gray-50';
    thead.innerHTML = `
        <tr>
            <th scope="col" class="px-6 py-3 text-xs font-medium uppercase tracking-wider">#</th>
            <th scope="col" class="px-6 py-3 text-xs font-medium uppercase tracking-wider">Name</th>
            <th scope="col" class="px-6 py-3 text-xs font-medium uppercase tracking-wider hidden lg:table-cell">Club</th>
            <th scope="col" class="px-6 py-3 text-xs font-medium uppercase tracking-wider hidden lg:table-cell">Snowmobile</th>
            <th scope="col" class="px-6 py-3 text-xs font-medium uppercase tracking-wider">Time</th>
        </tr>
    `;
    table.appendChild(thead);
    
    const tbody = document.createElement('tbody');
    tbody.className = 'bg-white divide-y divide-gray-200';
    const penalty_entries = [];
    heatData.forEach((entry, index) => {
        const row = document.createElement('tr');
        if (entry.name.toLowerCase().includes("filler")) {
            return;
        }
        if (entry.penalty != 0) {
            penalty_entries.push(entry);
        } else {        
            row.innerHTML = `
                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">${index + 1}</td>
                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">${entry.name}</td>
                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500 hidden lg:table-cell">${entry.club}</td>
                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500 hidden lg:table-cell">${entry.snowmobile}</td>
                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">${convertMilliseconds(entry.finishtime)}</td>
            `;
            tbody.appendChild(row);
        }
    });

    penalty_entries.forEach((entry, index) => {
        if (entry.penalty == 1) {
            pen = "DNS";
        } else if (entry.penalty == 2) {
            pen = "DNF";
        } else {
            pen = "DSQ";
        }
        
        const row = document.createElement('tr');
        row.innerHTML = `
            <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">${heatData.length + index + 1}</td>
            <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">${entry.name}</td>
            <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500 hidden lg:table-cell">${entry.club}</td>
            <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500 hidden lg:table-cell">${entry.snowmobile}</td>
            <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">${pen}</td>
        `;
        tbody.appendChild(row);
    });

    table.appendChild(tbody);
    
    tableContainer.appendChild(table); // Add this line
    return tableContainer; // Modify this line
}

document.addEventListener('DOMContentLoaded', function() {
    const racesContainer = document.getElementById('racesContainer');
    
    Object.entries(race_data).forEach(([raceName, raceData]) => {
        const accordion = createRaceAccordion(raceName, raceData);
        racesContainer.appendChild(accordion);
    });
});
</script>
{% endblock %}