{% extends "base.html" %}
{% block content %}
{% with active_page='live' %}
    {% include 'toggle_live_switch.html' %}
{% endwith %}
<h1>Welcome to the Live Page</h1>
<title>Flask-SocketIO Test</title>
SocketIO Client for 'live' Room

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
<script>
    const socket = io('http://192.168.20.218:5000/live_data');

    socket.on('connect', () => {
        console.log('Connected to server');
    });

    socket.on('message', (data) => {
        console.log('Received message:', data.data);
        // Handle the received data here (e.g., update UI)
    });

    // Example of sending a message to the server
    function sendMessage(message) {
        socket.emit('message', message);
    }
</script>
</head>
<body>
<h1>Flask-SocketIO Test</h1>

</body>

{% endblock %}